*{
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
}

.logo {
    margin-top: 130px;
}

.campo--pesquisa {
    border: 1px solid #dfe1e5;
    padding: 15px;
    width: 582px;
    height: 46px;
    border-radius: 50px;
}

.campo--pesquisa:hover {
    box-shadow: 1px 4px 15px #dfe1e5
}

button {
    padding: 0px 16px;
    height: 36px;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin: 21px 4px;
    cursor: pointer;
    border: 1px solid #f8f9fa;
}

button:hover {
    border: 1px solid #dadce0;
    box-shadow: 1px 1px rgba(0, 0, 0,.1);
}